@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create a new product</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost)

    @Html.LabelFor(model => model.CountryOfOrigin)
    @Html.EditorFor(model => model.CountryOfOrigin)

    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)


    <input type="submit" value="Create" class="btn btn-default" />
}

@Html.ActionLink("Back to List", "Index")