@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enjoy the original @Html.DisplayFor(model => model.Name)</h2>
<hr />
<div class="row">
    <img src="@Url.Content(Model.Image)" alt="Image" />
</div><br />
<div class="row product-title">
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
</div>

<div class="row">
    @Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)
</div>
<div class="row">
    Country of Origin:
    @Html.DisplayFor(model => model.CountryOfOrigin)
</div>


<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId })
