<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" id="header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">@Html.ActionLink("Welcome to the Gummi Bear Kingdom!", "Index", "")</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li></li>
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
